{% extends 'base.html.twig' %}

{% block body %}
    <h1>Actividad Persona</h1>

    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Fecha</th>
				<th>Hora</th>
				<th>Actividad</th>
				<th>Persona</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for actividadPersona in actividadPersonas %}
            <tr>
                <td><a href="{{ path('actividadpersona_show', { 'id': actividadPersona.idActPer }) }}">{{ actividadPersona.idActPer }}</a></td>		
				<td>{% if actividadPersona.fecha %}{{ actividadPersona.fecha|date('Y-m-d') }}{% endif %}</td>
                <td>{% if actividadPersona.fecha %}{{ actividadPersona.fecha|date('H:i:s') }}{% endif %}</td>
				<td>{{ actividadPersona.idActividad}} </td>
				<td>{{actividadPersona.idPersona}}</td>
				<td>
                    <ul>
                       
                            <a class="btn btn-dark" href="{{ path('actividadpersona_show', { 'id': actividadPersona.idActPer }) }}">Detalle</a>
                      
                            <a class="btn btn-dark" href="{{ path('actividadpersona_edit', { 'id': actividadPersona.idActPer }) }}">Editar</a>
                      
                            <a class="btn btn-dark" title="Clic si desea Eliminar" href="{{path('actividadpersona_delete',{"id":actividadPersona.idActPer})}}" class="glyphicon glyphicon-trash" onclick="return confirm('¿Está seguro que desea Eliminar?')">Eliminar</a>           
                       
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  
            <a class="btn btn-success"  href="{{ path('actividadpersona_new') }}">Nueva</a>
     
{% endblock %}
